body {
    background-color:#E0E0E0;
    font-family: Helvetica;
    font-size: .8em;
}

h1 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 6em;
    margin-top: .2em;
}

h3 {
    font-family: 'Lora', serif;
}

/*
h5 {
    width: 55px;
    font-size: .8em;
    background-color: rgb(245, 132, 245);
    padding: .25em;
    margin: -1em;
}
*/

h6 {
    width: 40px;
    font-size: .8em;
    background-color: gold;
    /* border: 1px solid black; */
    padding: .25em;
    margin: -1em;
    transform: rotate(-5deg)
}

#describe {
    font-size: .8em;
}

img {
    width: 20vw;
    height: 20%;
    border: 8px solid ghostwhite;
    border-bottom: 32px solid ghostwhite;
    border-radius: 5px;
    margin-bottom: 1em;
}

#show-trip-container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 1em 1em 1em 0;
    display: inline-block;
    padding: 1em;
    width: 20vw;
}


<<<<<<< HEAD
/* don't edit below */
=======
/* Edit Container  */
details[open] {
    background-color: rgba(0, 0, 0, 0.4);
    color: ghostwhite;
    width: 30vw;
    padding: .5em;
    font-size: .8rem;
    border-radius: .5em;
}
>>>>>>> 404d6f2066d27da3c23688bf785bac76e5ad22a4

details>summary {
    cursor: pointer;
    font-size: .8rem;
}

details>summary::-webkit-details-marker {
  display: none;
}

summary:focus {
    outline: none;
}
details form {
    padding: .1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
details input {
    width: 97%;
}

#update-button {
    margin-top: .3em;
    align-self: center;
}

/* Create Trip Container */
#create-trip-container {
    text-align: center;
}
