body {
    background-color:#E0E0E0;
    font-family: Helvetica;
    font-size: .8em;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Lora', serif;
    text-shadow: 3px 3px ghostwhite;
    font-size: 6em;
    margin: .2em;
}

#where {
    align-self: center;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1.8em;
    background-color:gold;
    padding: 0 1em 0 1em;
    transform: rotate(-2deg);
}

#vaccine {
    align-self: center;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: .9em;
    background-color: rgb(221, 35, 35);
    color: ghostwhite;
    font-weight: 400;
    padding: 0 1em 0 1em;
    transform: translate(50%,-50%) rotate(3deg);
    margin-top: .7em;
}

h5 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 3em;
    margin: 0 0 -.5em 0;
}

#notes {
    width: 40px;
    font-size: .8em;
    background-color: gold;
    border: 1px solid darkgray;
    padding: .25em;
    margin: -1em 0 0 0;
    transform: translateY(-5px) rotate(-4deg);
    margin-bottom: .5em;
}

#comments {
    width: 50px;
    font-size: .8em;
    background-color: rgb(221, 35, 35);
    color: ghostwhite;
    padding: .25em;
    margin:0;
    transform: translateY(-5px) rotate(-4deg);
    margin-bottom: .5em;
}

#describe {
    margin-top: 1em;
    padding: .5em;
    font-size: .8em;
    background-color: rgb(242, 242, 243);
}

#comment-list {
    text-align: left;
    margin-top: 1em;
    padding: .5em;
    font-size: .8em;
    background-color: rgb(242, 242, 243);
}

#comment-ul {
    padding: 0;
    margin: 0;
    transform: translateY(-10px);
}

#comment-li {
    margin: 0;
    padding: 0;
    padding-left: -2em;
}

/* Show Container */
#show-trip-container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 1em 1em 1em 0;
    display: inline-block;
    vertical-align: top;
    padding: 1.5em;
    width: 20vw;
}

img {
    width: 92%;
    height: 20%;
    border: 8px solid ghostwhite;
    border-bottom: 32px solid ghostwhite;
    border-radius: 5px;
    margin-bottom: 1em;
}

button {
    background-color: ghostwhite;
    font-size: .8em;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: .5em;
    transition: ease-in .5s;
}

button:hover {
    background-color: rgb(221, 35, 35);
    color: ghostwhite;
    cursor: pointer;
}
/* Edit and Comment Container  */

#edit-trip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -.5em;
}

#add-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

details[open] {
    background-color: rgba(0, 0, 0, 0.4);
    color: ghostwhite;
    width: 20vw;
    padding: 0 .5em .5em .5em;
    font-size: .8rem;
    border-radius: .5em;
}

details>summary {
    align-self: center;
    width: 90px;
    padding: .25em;
    background-color: ghostwhite;
    color: black;
    font-size: .8em;
    border: 1px solid gray;
    border-radius: 5px;
    margin: .5em .5em 0 0;
    text-align: center;
    cursor: pointer;
}

details>summary:hover {
    text-decoration: bold;
}

details>summary::-webkit-details-marker {
  display: none;
}

*:focus {
    outline: none;
}
details form {
    padding: .1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
details input {
    width: 97%;
}

#update-button {
    margin-top: .3em;
    align-self: center;
}

/* Create Trip Container */
#create-trip-container {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    width: 20vw;
}

#polaroid-square {
    background-color: dimgrey;
    color: ghostwhite;
    font-size: 1.2em;
    width: 92%;
    height: 20%;
    border: 8px solid ghostwhite;
    border-bottom: 32px solid ghostwhite;
    border-radius: 2px;
    margin-bottom: 1em;
    padding: .5em;
}

input[type=date] {
    font-family: Helvetica;
}

#description {
    resize: none;
    font-family: Helvetica;
}
